{% set route_ingress = route.ingress | default({}) %}
{% set route_ingress_tls = route_ingress.tls | default({}) %}
{% set cert_manager_config = k3s.cert_manager | default({}) %}
{% set cert_manager_issuer = cert_manager_config.cluster_issuer | default({}) %}
{% set cert_manager_enabled = cert_manager_config.enabled | default(false) | bool and cert_manager_issuer.enabled | default(true) | bool %}
{% set traefik_acme_config = k3s.traefik_acme | default({}) %}
{% set traefik_acme_enabled = traefik_acme_config.enabled | default(false) | bool %}
{% set explicit_route_annotations = route_ingress.annotations | default({}) %}
{% set explicit_traefik_acme = explicit_route_annotations['traefik.ingress.kubernetes.io/router.tls.certresolver'] is defined %}
{% set use_cert_manager_defaults = cert_manager_enabled and not explicit_traefik_acme %}
{% set use_traefik_acme_defaults = traefik_acme_enabled and not cert_manager_enabled %}
{% set route_tls_enabled = route_ingress_tls.enabled | default(use_cert_manager_defaults or use_traefik_acme_defaults or explicit_traefik_acme) | bool %}
{% set route_tls_secret_name = route_ingress_tls.secretName | default((route.domain ~ '-tls') | regex_replace('[^A-Za-z0-9-]', '-') | lower if use_cert_manager_defaults else '') %}
{% set default_route_annotations = {} %}
{% if use_cert_manager_defaults %}
{% set _ = default_route_annotations.update({'cert-manager.io/cluster-issuer': cert_manager_issuer.name | default('letsencrypt-prod')}) %}
{% endif %}
{% if use_traefik_acme_defaults %}
{% set _ = default_route_annotations.update({
  'traefik.ingress.kubernetes.io/router.entrypoints': 'websecure',
  'traefik.ingress.kubernetes.io/router.tls': 'true',
  'traefik.ingress.kubernetes.io/router.tls.certresolver': traefik_acme_config.resolver_name | default('letsencrypt')
}) %}
{% endif %}
{% set route_annotations = default_route_annotations | combine(explicit_route_annotations) %}
domain: {{ route.domain | to_json }}
ingressClassName: {{ route.ingress_class_name | default('traefik') | to_json }}
ingress:
  annotations:
{{ route_annotations | to_nice_yaml(indent=2) | indent(4, true) }}
  tls:
    enabled: {{ route_tls_enabled | ternary('true', 'false') }}
    secretName: {{ route_tls_secret_name | to_json }}
backend:
  host: {{ route.backend_host | to_json }}
  port: {{ route.backend_port }}
service:
  port: {{ route.service_port | default(80) }}
