{% set k3s_app_config = deployment_app_env.k3s | default({}) %}
{% set resource_name = k3s_app_resource_name %}
{% set app_name = 'dime-app' %}
{% set app_labels = {
  'app.kubernetes.io/name': app_name,
  'app.kubernetes.io/instance': k3s_app_release_name,
  'app.kubernetes.io/managed-by': 'ansible',
  'app.kubernetes.io/part-of': 'dime-apps',
  'dimeconsultants.africa/app': deployment_app.name,
  'dimeconsultants.africa/environment': env,
  'observability.grafana.com/logs': 'enabled'
} %}
{% set secret_env_config = deployment_app_env.secret_env | default({}) | combine(k3s_dynamic_secret_env | default({}), recursive=True) %}
{% if secret_env_config %}
apiVersion: v1
kind: Secret
metadata:
  name: {{ resource_name }}-secret
  namespace: {{ k3s_namespace }}
  labels:
{{ app_labels | to_nice_yaml(indent=2) | indent(4, true) }}
type: Opaque
stringData:
{% for key, value in secret_env_config | dictsort %}
  {{ key }}: {{ value | to_json }}
{% endfor %}
{% endif %}
