RESTIC_REPOSITORY={{ backup_config.repository }}
RESTIC_PASSWORD={{ backup_config.password }}
RESTIC_CACHE_DIR=/var/cache/restic
BACKUP_TAGS={{ backup_config.tags | default([inventory_hostname]) | join(',') }}
BACKUP_PATHS={{ backup_config.paths | join(':') }}
BACKUP_STAGING_DIR={{ backup_staging_dir }}
RESTIC_KEEP_DAILY={{ backup_config.retention.keep_daily | default(7) }}
RESTIC_KEEP_WEEKLY={{ backup_config.retention.keep_weekly | default(4) }}
RESTIC_KEEP_MONTHLY={{ backup_config.retention.keep_monthly | default(6) }}
POSTGRES_BACKUP_ENABLED={{ backup_config.postgres.enabled | default(true) | bool | ternary('true', 'false') }}
