{% macro env_line(name, value) -%}
{{ name }}='{{ (value | string) | replace("'", "\\'") }}'
{%- endmacro %}
{{ env_line('COMPOSE_PROJECT_NAME', 'shared_' ~ shared_service_name ~ '_' ~ shared_service_env) }}
{{ env_line('SHARED_ENV', shared_service_env) }}
{{ env_line('SHARED_NETWORK', shared_service_env_config.network) }}
{{ env_line('SERVICE_HOST', shared_service_env_config.service_host) }}
{{ env_line('SERVICE_VOLUME', shared_service_env_config.volume | default('')) }}
{% set service_environment = shared_service_subscription.environments[shared_service_env] if shared_service_subscription.environments is mapping else {} %}
{% set service_secrets = (shared_service_secrets | default({})).get(shared_service_name, {}).get(shared_service_env, {}) %}
{% set service_secret_names = service_environment.secret_names | default(shared_service_env_config.secret_names | default({})) %}

{% if shared_service_name == 'postgres' %}
{{ env_line('POSTGRES_PORT', shared_service_env_config.published_port) }}
{{ env_line('POSTGRES_DB', shared_service_env_config.database | default(service_secrets.get('database', 'postgres'))) }}
{{ env_line('POSTGRES_USER', shared_service_env_config.username | default(service_secrets.get('username', lookup('env', service_secret_names.get('username', '')) | default('app', true)))) }}
{{ env_line('POSTGRES_PASSWORD', shared_service_env_config.password | default(service_secrets.get('password', lookup('env', service_secret_names.get('password', '')) | default('change-me', true)))) }}
{% elif shared_service_name == 'rabbitmq' %}
{{ env_line('RABBITMQ_AMQP_PORT', shared_service_env_config.amqp_port) }}
{{ env_line('RABBITMQ_MANAGEMENT_PORT', shared_service_env_config.management_port) }}
{{ env_line('RABBITMQ_DEFAULT_USER', shared_service_env_config.username | default(service_secrets.get('username', lookup('env', service_secret_names.get('username', '')) | default('app', true)))) }}
{{ env_line('RABBITMQ_DEFAULT_PASS', shared_service_env_config.password | default(service_secrets.get('password', lookup('env', service_secret_names.get('password', '')) | default('change-me', true)))) }}
{% elif shared_service_name == 'portainer' %}
{{ env_line('PORTAINER_HTTP_PORT', shared_service_env_config.http_port) }}
{{ env_line('PORTAINER_HTTPS_PORT', shared_service_env_config.https_port) }}
{% elif shared_service_name == 'grafana' %}
{{ env_line('GRAFANA_PORT', shared_service_env_config.published_port) }}
{{ env_line('GF_SECURITY_ADMIN_USER', shared_service_env_config.username | default(service_secrets.get('username', lookup('env', service_secret_names.get('username', '')) | default('admin', true)))) }}
{{ env_line('GF_SECURITY_ADMIN_PASSWORD', shared_service_env_config.password | default(service_secrets.get('password', lookup('env', service_secret_names.get('password', '')) | default('change-me', true)))) }}
{{ env_line('LOKI_VOLUME', shared_service_env_config.loki_volume | default('shared_loki_' ~ shared_service_env ~ '_data')) }}
{{ env_line('PROMTAIL_VOLUME', shared_service_env_config.promtail_volume | default('shared_promtail_' ~ shared_service_env ~ '_data')) }}
{{ env_line('PROMETHEUS_PORT', shared_service_env_config.prometheus_port | default(9090 if shared_service_env == 'prod' else 9091)) }}
{{ env_line('PROMETHEUS_VOLUME', shared_service_env_config.prometheus_volume | default('shared_prometheus_' ~ shared_service_env ~ '_data')) }}
{{ env_line('PROMETHEUS_RETENTION', shared_service_env_config.prometheus_retention | default('15d')) }}
{% elif shared_service_name == 'flower' %}
{{ env_line('FLOWER_PORT', shared_service_env_config.published_port) }}
{% set rabbitmq_secrets = (shared_service_secrets | default({})).get('rabbitmq', {}).get(shared_service_env, {}) %}
{% set rabbitmq = namespace(secret_names={}) %}
{% for subscribed_service in shared_services | default([]) %}
{% if subscribed_service.name == 'rabbitmq' and subscribed_service.environments is mapping and shared_service_env in subscribed_service.environments %}
{% set rabbitmq.secret_names = subscribed_service.environments[shared_service_env].secret_names | default(shared_service_catalog.rabbitmq.environments[shared_service_env].secret_names | default({})) %}
{% endif %}
{% endfor %}
{% set rabbitmq_secret_names = rabbitmq.secret_names | default({}) %}
{% set rabbitmq_user = rabbitmq_secrets.get('username', lookup('env', rabbitmq_secret_names.get('username', '')) | default('app', true)) %}
{% set rabbitmq_password = rabbitmq_secrets.get('password', lookup('env', rabbitmq_secret_names.get('password', '')) | default('change-me', true)) %}
{{ env_line('CELERY_BROKER_URL', shared_service_env_config.broker_url | default('amqp://' ~ (rabbitmq_user | urlencode) ~ ':' ~ (rabbitmq_password | urlencode) ~ '@rabbitmq:5672//')) }}
{% endif %}
