[defaults]
inventory = ./inventory/dynamic_inventory.py
host_key_checking = False
remote_user = ubuntu
private_key_file = ~/.ssh/temp_key  ; overridden in CI

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o ServerAliveInterval=30 -o ServerAliveCountMax=2
transfer_method = smart
